<section class="bg-light">
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5 w-100">
                <div class="card shadow-2-strong" style="border-radius: 1rem;">
                    <div class="card-body  text-center">

                        <h1 class="mb-4">Add Form</h1>
                        <form [formGroup]="employeeForm">
                            <div class="container">
                                <div class="row">
                                    <div class="col">
                                        <div class="input-group form-outline mb-4">
                                            <span class="input-group-text">First and last name</span>
                                            <input type="text" aria-label="First name" class="form-control">
                                            <input type="text" aria-label="Last name" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="input-group form-outline mb-4">
                                            <span class="input-group-text">Email</span>
                                            <input type="email" aria-label="Email" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="input-group form-outline mb-4">
                                            <span class="input-group-text">Mobile</span>
                                            <input type="text" aria-label="mobile" class="form-control" appMaskingNumber
                                                formControlName="mobile">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="input-group form-outline mb-4">
                                            <span class="input-group-text">Salary</span>
                                            <input type="text" aria-label="salary" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col d-flex justify-content-end">
                                        <div>
                                            <button class="btn btn-primary me-3">Save</button>
                                        </div>
                                        <div>
                                            <button class="btn btn-secondary">cancle</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>